transfer_data/*
slrum-output/*

*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.orig
*.rej
*.~*
*.cover
*.py,cover
.hypothesis/
.tox/
.cache/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
